<a [class]="classButton" [href]="srcButton" >
  <h4 class="font-medium text-center text-primary">
    {{textButton}}
  </h4>

  <div class="rotate-180 cursor-pointer">
    <svg class="w-6 transition rounded-full fill-primary" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
      aria-hidden="true" (load)="loadButton(typeButton)">
      <g>
        <path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z">
        </path>
      </g>
    </svg>
  </div>
</a>
