<!--3 IMAGES -->
<div class="grid grid-cols-2 max-h-[500px] gap-[1px] border bg-gray-4 dark:bg-twitter-dark-gray border-gray-4 rounded-xl overflow-hidden">
  <figure>
    <img role="button" class="object-cover w-full h-full"
         src="{{urlToMedia1}}" alt="image1"/>
  </figure>

  <div class="grid grid-rows-2 max-h-[500px] gap-[1px] bg-gray-4 dark:bg-twitter-dark-gray border-gray-4">
    <figure>
      <img role="button" class="object-cover w-full h-full"
           src="{{urlToMedia2}}" alt="image2"/>
    </figure>

    <figure>
      <img role="button" class="object-cover w-full h-full"
           src="{{urlToMedia3}}" alt="image3"/>
    </figure>
  </div>
</div>
