<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{namePage}} / Twitter</title>

    <link rel="shortcut icon" href="//abs.twimg.com/favicons/twitter.2.ico">

    <!-- tailwindcss -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- My JS -->
    <script defer src="../assets/js/loadNotificationAssets.js"></script>
    <script defer src="../assets/js/pages.js"></script>
    <script src="../assets/js/tailwind.config.js"></script>
    <script defer src="../assets/js/darkMode.js"></script>
    <script defer src="../assets/js/numCalculator.js"></script>
    <script defer src="../assets/js/ajax.js"></script>
</head>

<body class="relative flex justify-center llg:px-7 gap-7 bg-white-0 dark:bg-black-0">