<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Private / Twitter</title>

    <link rel="shortcut icon" href="//abs.twimg.com/favicons/twitter.2.ico">
    <!--Icon for notifications https://abs.twimg.com/favicons/twitter-pip.2.ico-->

    <!-- tailwindcss -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- My JS -->
    <script src="../assets/js/tailwind.config.js"></script>
    <script defer src="../assets/js/darkMode.js"></script>
</head>
<body>
FUNCIONA!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
</form>
</body>
</html>