{{#tweet}}
            <!-- TWEET -->
            <div class="flex items-center w-full gap-4 dark:bg-black-0 bg-white-0">
                <!-- PROFILE IMAGE - TODO: hacer link a perfil y perfil -->
                <a href="#">
                    <figure class="w-12 h-12 rounded-full hover:bg-black-0">
                        <img src="{{urlToProfilePic}}" alt="Profile photo"
                            class="w-full h-full rounded-full hover:opacity-80" />
                    </figure>
                </a>

                <!-- CONTENT -->
                <div class="flex flex-col flex-1 gap-2">
                    <div class="flex flex-col gap-1">
                        <!-- PROFILE -->
                        <a class="flex gap-2" href="#">
                            <span
                                class="overflow-hidden font-bold text-ellipsis whitespace-nowrap hover:underline dark:text-white-0">
                                {{tweet.user.username}}</span>
                            <span class="overflow-hidden text-ellipsis whitespace-nowrap text-gray-4 hover:underline">
                                @{{tweet.user.nickname}}
                            </span>
                        </a>

                        <!-- TWEET TEXT -->
                        <p class="overflow-hidden text-sm text-ellipsis text-twitter-dark-gray dark:text-white-0">
                            {{tweet.text}}
                        </p>
                    </div>
                </div>
            </div>
{{/tweet}}