

<!-- <app-theme-switcher-button></app-theme-switcher-button>


<app-brand-button [typeBrand]="type" [aSrc]="src"></app-brand-button>

<app-blue-button [blueButtonType]="blueButtonType" [href]="src" [isInput]="isInput"></app-blue-button>
<app-red-button [text]="text" [href]="src"></app-red-button>
<app-button-without-background-white-border-and-text [text]="text2" [href]="src"></app-button-without-background-white-border-and-text>
<app-floating-input [text]="text3" ></app-floating-input>
<app-nav-bar-button [text]="text4" [selected]="selected1"></app-nav-bar-button>
<app-nav-bar-button [text]="text4" [selected]="selected2"></app-nav-bar-button>
<app-searcher [action]="searcherAction" [placeholder]="searcherPlaceholder"></app-searcher>
<app-tweet [id]="id" [profileId]="profileId" [urlToProfilePic]="urlToProfilePic" [nick]="nick" [username]="username" [publishDate]="date" [text]="textT" [numComments]="numC" [numLikes]="numL" [numRetweets]="numR" [isLiked]="isL" [isRetweeted]="isR" [isBookmarked]="isB" [isLogged]="isIn" [urlToMedia1]="u1" [urlToMedia2]="u2" [urlToMedia3]="u3" [urlToMedia4]="u4" [isAuthorised]="authorised"></app-tweet>
 -->
 <div class="container">
    <router-outlet></router-outlet>
</div>
