<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>

<app-theme-switcher-button></app-theme-switcher-button>


<app-brand-button [typeBrand]="type" [aSrc]="src"></app-brand-button>

<app-blue-button [blueButtonType]="blueButtonType" [href]="src" [isInput]="isInput"></app-blue-button>
<app-red-button [text]="text" [href]="src"></app-red-button>
<app-button-without-background-white-border-and-text [text]="text2" [href]="src"></app-button-without-background-white-border-and-text>
<app-floating-input [text]="text3" ></app-floating-input>
<app-nav-bar-button [text]="text4" [selected]="selected1"></app-nav-bar-button>
<app-nav-bar-button [text]="text4" [selected]="selected2"></app-nav-bar-button>
<app-searcher [action]="searcherAction" [placeholder]="searcherPlaceholder"></app-searcher>
