<!-- {{> left-bar}} -->

<!-- CONTENT - FRAME -->
<main
    class="relative w-screen min-h-screen llg:max-w-[700px] border-l border-r border-transparent llg:border-gray-9 llg:dark:border-black-5">
    <!-- HEADER -->
    <header class="sticky top-0 left-0 border-b backdrop-blur-md border-gray-9 dark:border-black-5">
        <div class="flex items-center justify-between py-2 pl-6 pr-3">
            <!-- TITLE -->
            <h1 id="screenTitle" class="hidden text-xl font-bold xlsm:block dark:text-gray-3 text-black-1">
                Explore
            </h1>

            <app-searcher></app-searcher>

            <!-- THEME SWITCHER -->
            <app-theme-switcher-button></app-theme-switcher-button>
        </div>
    </header>

    <!-- TRENDS -->
    <div id="trend-container">
        <app-hashtagComponent [hashtags]="hashtagList" (whatToShow)="setShowHashtags($event)">
        </app-hashtagComponent>
    </div>

    <div *ngIf="showHashtag">
        <button (click)="loadMoreTrends();" id="loadMore"
            class="hidden w-full py-4 text-lg font-semibold border-b llg:block border-gray-9 dark:bg-black-0 hover:bg-gray-7 dark:border-black-5 dark:hover:bg-black-6 text-primary">
            Load More
        </button>
    </div>


    <!-- SPINNER -->
    <div id="spinner">

    </div>

    <!-- SHOW TRENDS BUTTON - MOBILE -->
    <div class="sticky flex justify-center">
        <button click="loadMoreTrends();" id="loadMore-mobile"
            class="fixed px-5 py-3 text-sm font-semibold transition cursor-pointer top-[5.4rem] llg:hidden hover:scale-110 rounded-3xl text-white-0 bg-primary">
            Load More
        </button>
    </div>

    <!-- SPACE -->
    <div class="p-10 bg-transparent">
    </div>

    <!-- {{> mobile-bar}} -->
</main>

<!-- {{> right-bar}} -->