<!-- CONTENT - FRAME -->
<main
    class="relative w-screen min-h-screen llg:max-w-[700px] border-l border-r border-transparent llg:border-gray-9 llg:dark:border-black-5">
    <!-- HEADER -->
    <header class="sticky top-0 left-0 border-b backdrop-blur-md border-gray-9 dark:border-black-5">
        <div class="flex items-center justify-between py-2 pl-6 pr-3">
            <!-- TITLE -->
            <section class="flex flex-col">
                <h1 id="screenTitle" class="text-xl font-bold dark:text-gray-3 text-black-1">
                    Notifications
                </h1>
            </section>

            <!-- THEME SWITCHER -->
            <app-theme-switcher-button></app-theme-switcher-button>
        </div>

        <!-- NAVBAR -->
        <nav id="navBar" class="grid items-center justify-center grid-cols-2 text-center dark:text-gray-5 text-gray-4">
            <button id="all-tab" (click)="showPage('all-tab', ['mentions-tab']);"
                class="py-4 font-bold border-b-4 cursor-pointer border-primary dark:text-white-0 text-black-0 dark:hover:bg-gray-1 hover:bg-gray-3">
                All
            </button>

            <button id="mentions-tab" (click)="showPage('mentions-tab', ['all-tab'])"
                class="py-4 font-semibold border-b-4 border-transparent cursor-pointer border-p-2 dark:hover:bg-gray-1 hover:bg-gray-3 dark:text-gray-5">
                Mentions
            </button>
        </nav>
    </header>

    <!--All-->
    <app-notification-list *ngIf="tabSelected == 'all'" tab='all'></app-notification-list>

    <!--Mentions-->
    <app-notification-list *ngIf="tabSelected == 'mentions'" tab='mentions'></app-notification-list>

    <!-- SPACE -->
    <div class="p-10 bg-transparent">
    </div>

    <!--MOBILE BAR-->

</main>