<div *ngIf="isCharged"
    class="w-screen min-h-screen llg:max-w-[700px] border-l border-r border-transparent llg:border-gray-9 llg:dark:border-black-5">
    <header class="sticky top-0 left-0 border-b backdrop-blur-md border-gray-9 dark:border-black-5">
        <div class="flex items-center justify-between py-2 pl-6 pr-3">
            <h1 class="text-xl font-bold dark:text-gray-3 text-black-1">
                Home
            </h1>

            <app-theme-switcher-button></app-theme-switcher-button>
        </div>
    </header>

    <app-tweet-list typeElement="Home"></app-tweet-list>

</div>